@if (produto != null) {
<div>
  <div>
    <div class="mb-3">
      <label for="client" class="form-label">Matéria:</label>
      @if (produtoMateriaLocal.materia == null) {
      <p
        class="alert alert-danger d-flex justify-content-between align-items-center"
      >
        Matéria não vinculado, é obrigatório!
        <button
          type="button"
          (click)="buscar(modalMateria)"
          class="btn-comum btn-comum-vermelho"
        >
          Buscar
        </button>
      </p>
      } @if (produtoMateriaLocal.materia != null) {
      <p
        class="alert alert-success d-flex justify-content-between align-items-center"
      >
        {{ produtoMateriaLocal.materia.nome }}
        <button
          type="button"
          (click)="buscar(modalMateria)"
          class="btn-comum btn-comum-cinza"
        >
          Trocar
        </button>
      </p>
      }
    </div>
    @if (produto.estocavel == false) {
    <div class="mt-3">
      <label for="quantedadeProdutoMateria" class="form-label"
        >Quantidade Gasto</label
      >
      <input
        id="quantedadeProdutoMateria"
        autocomplete="off"
        required
        #quantedadeProdutoMateria="ngModel"
        [ngClass]="{
          'borda-vermelha':
            !quantedadeProdutoMateria.valid && quantedadeProdutoMateria.touched
        }"
        inputmode="numeric"
        min="0"
        step="1"
        oninput="if (this.value.length > 10) this.value = this.value.slice(0, 10)"
        onkeydown="return !['e', 'E', '-', '+' , ','].includes(event.key)"
        type="number"
        class="form-control"
        name="quantedadeProdutoMateria"
        [(ngModel)]="produtoMateriaLocal.quantidadeGasto"
      />
    </div>
    }
  </div>

  <div class="d-flex justify-content-center mt-3">
    <button
      name="produtoMateria"
      type="button"
      class="btn-comum btn-comum-laranja"
      (click)="salvarProdutoMateria()"
    >
      Salvar
    </button>
  </div>
</div>
} @if (observacoes != null) {
<div>
  <div>
    <div class="mb-3">
      <label for="client" class="form-label">Matéria:</label>
      @if (obcervacaoMateriaLocal.materia == null) {
      <p
        class="alert alert-danger d-flex justify-content-between align-items-center"
      >
        Matéria não vinculado, é obrigatório!
        <button
          type="button"
          (click)="buscar(modalMateria)"
          class="btn-comum btn-comum-vermelho"
        >
          Buscar
        </button>
      </p>
      } @if (obcervacaoMateriaLocal.materia != null) {
      <p
        class="alert alert-success d-flex justify-content-between align-items-center"
      >
        {{ obcervacaoMateriaLocal.materia.nome }}
        <button
          type="button"
          (click)="buscar(modalMateria)"
          class="btn-comum btn-comum-cinza"
        >
          Trocar
        </button>
      </p>
      }
    </div>
    @if (observacoes.extra == true) {
    <div class="mt-3">
      <label for="quantedadeObservacaoMateria" class="form-label"
        >Quantidade Gasto</label
      >
      <input
        id="quantedadeObservacaoMateria"
        autocomplete="off"
        required
        #quantedadeObservacaoMateria="ngModel"
        [ngClass]="{
          'borda-vermelha':
            !quantedadeObservacaoMateria.valid &&
            quantedadeObservacaoMateria.touched
        }"
        inputmode="numeric"
        min="0"
        step="1"
        oninput="if (this.value.length > 10) this.value = this.value.slice(0, 10)"
        onkeydown="return !['e', 'E', '-', '+' , ','].includes(event.key)"
        type="number"
        class="form-control"
        name="quantedadeObservacaoMateria"
        [(ngModel)]="obcervacaoMateriaLocal.quantidadeGasto"
      />
    </div>
    }
  </div>

  <div class="d-flex justify-content-center mt-3">
    <button
      name="obcervacaoMateria"
      type="button"
      class="btn-comum btn-comum-laranja"
      (click)="salvarObservacaoMateria()"
    >
      Salvar
    </button>
  </div>
</div>
}

<ng-template #modalMateria let-modal>
  <div class="modal-header cabecalhoModal">
    <h4 class="modal-title">Buscar Matéria</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="badyModal">
    <app-materia-list
      [observacoes]="observacoes"
      [produto]="produto"
      [modoVincular]="true"
      (retorno)="retornoMateria($event)"
    ></app-materia-list>
  </div>
</ng-template>
