<form
  #formulario="ngForm"
  (ngSubmit)="salvar(modalConfermacao, formulario)"
>
  <div class="d-flex flex-column gap-3 p-2">
    <div class="w-100">
      <label for="valor" class="form-label">Valor</label>
      <input
        autocomplete="off"
        #valor="ngModel"
        required
        type="number"
        inputmode="numeric"
        min="0"
        step="1"
        oninput="if (this.value.length > 10) this.value = this.value.slice(0, 10)"
        onkeydown="return !['e', 'E', '-', '+' , ','].includes(event.key)"
        class="form-control"
        name="valor"
        [(ngModel)]="suprimento.valor"
        [ngClass]="{ 'borda-vermelha': !valor.valid && valor.touched }"
      />
    </div>
    <div class="w-100">
      <label for="motivo" class="form-label">Motivo</label>
      <textarea
        autocomplete="off"
        #motivo="ngModel"
        required
        type="text"
        class="form-control"
        name="motivo"
        [(ngModel)]="suprimento.motivo"
        [ngClass]="{ 'borda-vermelha': !motivo.valid && motivo.touched }"
      ></textarea>
    </div>
    <div class="d-flex justify-content-center">
      <button type="submit" class="btn-comum btn-comum-laranja">Salvar</button>
    </div>
  </div>
</form>

<ng-template #modalConfermacao let-modal>
  <div class="modal-header modal-style p-3">
    <h4 class="modal-title">{{ "Confirmação!" }}</h4>
  </div>
  <div class="modal-body modal-style p-3">
    <h5>Troco adicionado com valor {{ suprimento.valor }}?</h5>
  </div>
  <div class="modal-footer modal-style d-flex justify-content-center p-2 gap-3">
    <button
      type="button"
      class="btn-comum btn-comum-laranja"
      (click)="confirmarSuprimento()"
    >
      Sim
    </button>
    <button
      type="button"
      class="btn-comum btn-comum-vermelho"
      (click)="modal.close('Close click')"
    >
      Não
    </button>
  </div>
</ng-template>
