<div class="h-100 d-flex w-100">
  <div
    class="d-flex flex-column menuVendas menu-container"
    [class.expanded]="menuAberto"
  >
    @if (!menuAberto) {
    <div
      class="d-flex flex-column align-items-center justify-content-between text-center h-100 w-100"
    >
      <div>
        <button class="abrir-menu w-100" (click)="menuAberto = true">☰</button>
        <h2 class="titulo-vertical">Relatórios</h2>
      </div>
      <button
        type="button"
        name="sair"
        class="botao_voltar mb-2"
        routerLink="/home"
      >
        <i class="bi bi-arrow-left"></i>
      </button>
    </div>
    } @if (menuAberto) {
    <div class="d-flex flex-column p-2 pm-0 col-12">
      <div class="d-flex align-items-center justify-content-between mb-3 gap-2">
        <div class="d-flex align-items-center">
          <button
            type="button"
            name="sair"
            class="botao_voltar me-2"
            routerLink="/home"
          >
            <i class="bi bi-arrow-left"></i>
          </button>

          <h2 class="titulo m-0">Relatórios</h2>
        </div>
        <button class="fechar-menu" (click)="menuAberto = false">✕</button>
      </div>
    </div>
    <div class="d-flex flex-column lista-btns">
      @for (relatorio of listaRelatoriosOrginal; track $index) {
      <button
        type="button"
        name="{{ relatorio.id }}"
        (click)="selecionarRelatorio(relatorio)"
        class="btn-lista d-flex align-items-center justify-content-between px-3 py-2 m-1"
        [ngClass]="{ 'btn-lista-active': active == relatorio }"
      >
        <span class="text-start" style="width: 150px">
          <strong>{{ relatorio.nome }}</strong>
        </span>
        @if (usuario && usuario.permissao && usuario.permissao.deletarRelatorio)
        {
        <button
          type="button"
          (click)="deletarRelatorio(modalDeletarRelatorio, relatorio, $index)"
          class="hover-btn"
          name="Deletar{{ $index }}"
        >
          <img
            src="../../../../assets/images/botao_deletar.svg"
            alt="Deletar"
          />
          <span class="hover-text">Deletar</span>
        </button>
        }
      </button>
      }
    </div>
    }
  </div>
  <div class="d-flex flex-column p-3 w-100 content-container gap-2">
    <div class="d-flex flex-wrap gap-3">
      <div class="d-flex flex-column w-20">
        <label>Tipo de objeto</label>
        <select class="select-filtro p-1" [(ngModel)]="relatorio.tipoConsulta">
          <option [ngValue]="null">Selecione</option>
          <option value="VENDA">Venda</option>

          <!-- <option value="CATEGORIA">Categoria</option>
         <option value="PRODUTO">Produto</option>
         <option value="CLIENTE">Cliente</option>
         <option value="CAIXA">Caixa</option>
         <option value="FUNCIONARIO">Funcionário</option>
         <option value="PERMISSAO">Permissão</option>
         <option value="ESTOQUE">Estoque</option>
         <option value="DEPOSITO">Depósito</option>
         <option value="MATERIA">Matéria</option>
         <option value="CONFIGURACAO">Configuração</option>
         <option value="SANGRIA">Sangria</option>
         <option value="SUPRIMENTO">Suprimento</option>
         <option value="IMPRESSAO">Impressão</option> -->
        </select>
      </div>
      <div class="d-flex flex-column w-20">
        <label>Data Início</label>
        <input
          type="text"
          inputmode="numeric"
          class="form-control"
          [(ngModel)]="relatorio.dataInicio"
          mask="00/00/0000 00:00"
          placeholder="dd/MM/aaaa hh:mm"
          [disabled]="!relatorio.tipoConsulta"
        />
      </div>
      <div class="d-flex flex-column w-20">
        <label>Data Fim</label>
        <input
          type="text"
          inputmode="numeric"
          class="form-control"
          [(ngModel)]="relatorio.dataFim"
          [disabled]="!relatorio.tipoConsulta"
          mask="00/00/0000 00:00"
          placeholder="dd/MM/aaaa hh:mm"
        />
      </div>
      <div class="d-flex flex-column w-20">
        <label>Período</label>
        <select
          class="select-filtro p-1"
          [(ngModel)]="relatorio.periodoDia"
          [disabled]="!relatorio.tipoConsulta"
        >
          <option [ngValue]="null">Selecione</option>
          <option value="MANHA">Manhã</option>
          <option value="TARDE">Tarde</option>
          <option value="NOITE">Noite</option>
          <option value="MADRUGADA">Madrugada</option>
        </select>
      </div>
      <div class="d-flex flex-column w-25">
        <label>Tipos de Venda</label>
        <div class="d-flex flex-wrap gap-2">
          <button
            class="btn-comum btn-selecionar"
            [ngClass]="{
              'btn-selecionar-foco': relatorio.mesa,
              'btn-selecionar': !relatorio.mesa
            }"
            (click)="alternarTipoVenda('MESA')"
            [disabled]="!relatorio.tipoConsulta"
          >
            Mesa
          </button>

          <button
            class="btn-comum btn-selecionar"
            [ngClass]="{
              'btn-selecionar-foco': relatorio.balcao,
              'btn-selecionar': !relatorio.balcao
            }"
            (click)="alternarTipoVenda('BALCAO')"
            [disabled]="!relatorio.tipoConsulta"
          >
            Balcão
          </button>

          <button
            class="btn-comum btn-selecionar"
            [ngClass]="{
              'btn-selecionar-foco': relatorio.entrega,
              'btn-selecionar': !relatorio.entrega
            }"
            (click)="alternarTipoVenda('ENTREGA')"
            [disabled]="!relatorio.tipoConsulta"
          >
            Entrega
          </button>

          <button
            class="btn-comum btn-selecionar"
            [ngClass]="{
              'btn-selecionar-foco': relatorio.retirada,
              'btn-selecionar': !relatorio.retirada
            }"
            (click)="alternarTipoVenda('RETIRADA')"
            [disabled]="!relatorio.tipoConsulta"
          >
            Retirada
          </button>
        </div>
      </div>

      <div class="d-flex flex-column w-20">
        <label>Formas de Pagamento</label>
        <div class="d-flex flex-wrap gap-2">
          <button
            class="btn-comum btn-selecionar"
            [ngClass]="{
              'btn-selecionar-foco': relatorio.dinheiro,
              'btn-selecionar': !relatorio.dinheiro
            }"
            (click)="alternarTipoPagamento('DINHEIRO')"
            [disabled]="!relatorio.tipoConsulta"
          >
            Dinheiro
          </button>

          <button
            class="btn-comum btn-selecionar"
            [ngClass]="{
              'btn-selecionar-foco': relatorio.credito,
              'btn-selecionar': !relatorio.credito
            }"
            (click)="alternarTipoPagamento('CREDITO')"
            [disabled]="!relatorio.tipoConsulta"
          >
            Crédito
          </button>

          <button
            class="btn-comum btn-selecionar"
            [ngClass]="{
              'btn-selecionar-foco': relatorio.debito,
              'btn-selecionar': !relatorio.debito
            }"
            (click)="alternarTipoPagamento('DEBITO')"
            [disabled]="!relatorio.tipoConsulta"
          >
            Débito
          </button>

          <button
            class="btn-comum btn-selecionar"
            [ngClass]="{
              'btn-selecionar-foco': relatorio.pix,
              'btn-selecionar': !relatorio.pix
            }"
            (click)="alternarTipoPagamento('PIX')"
            [disabled]="!relatorio.tipoConsulta"
          >
            Pix
          </button>
        </div>
      </div>
      <div class="d-flex flex-column w-20">
        <label>Vendas Deletadas</label>
        <div class="btn-group w-100">
          <button
            type="button"
            class="btn btn-borda-laranja p-2"
            [ngClass]="{
              'btn-comum-laranja': relatorio.deletado === true,
              'btn-borda-laranja': relatorio.deletado !== true
            }"
            (click)="relatorio.deletado = true"
            [disabled]="!relatorio.tipoConsulta"
          >
            SIM
          </button>
          <button
            type="button"
            class="btn btn-borda-laranja p-2"
            [ngClass]="{
              'btn-comum-laranja': relatorio.deletado === false,
              'btn-borda-laranja': relatorio.deletado !== false
            }"
            (click)="relatorio.deletado = false"
            [disabled]="!relatorio.tipoConsulta"
          >
            NÃO
          </button>
          <button
            type="button"
            class="btn btn-borda-laranja p-2"
            [ngClass]="{
              'btn-comum-laranja': relatorio.deletado === null,
              'btn-borda-laranja': relatorio.deletado !== null
            }"
            (click)="relatorio.deletado = null"
            [disabled]="!relatorio.tipoConsulta"
          >
            TODOS
          </button>
        </div>
      </div>
      <div class="d-flex flex-column w-20">
        <label>Vendas Com Desconto</label>
        <div class="btn-group w-100">
          <button
            type="button"
            class="btn btn-borda-laranja p-2"
            [ngClass]="{
              'btn-comum-laranja': relatorio.desconto === true,
              'btn-borda-laranja': relatorio.desconto !== true
            }"
            (click)="relatorio.desconto = true"
            [disabled]="!relatorio.tipoConsulta"
          >
            SIM
          </button>
          <button
            type="button"
            class="btn btn-borda-laranja p-2"
            [ngClass]="{
              'btn-comum-laranja': relatorio.desconto === false,
              'btn-borda-laranja': relatorio.desconto !== false
            }"
            (click)="relatorio.desconto = false"
            [disabled]="!relatorio.tipoConsulta"
          >
            NÃO
          </button>
          <button
            type="button"
            class="btn btn-borda-laranja p-2"
            [ngClass]="{
              'btn-comum-laranja': relatorio.desconto === null,
              'btn-borda-laranja': relatorio.desconto !== null
            }"
            (click)="relatorio.desconto = null"
            [disabled]="!relatorio.tipoConsulta"
          >
            TODOS
          </button>
        </div>
      </div>
      <div class="d-flex flex-column w-20">
        <label>Vendas Com Serviço</label>
        <div class="btn-group w-100">
          <button
            type="button"
            class="btn btn-borda-laranja p-2"
            [ngClass]="{
              'btn-comum-laranja': relatorio.taxaServico === true,
              'btn-borda-laranja': relatorio.taxaServico !== true
            }"
            (click)="relatorio.taxaServico = true"
            [disabled]="!relatorio.tipoConsulta"
          >
            SIM
          </button>
          <button
            type="button"
            class="btn btn-borda-laranja p-2"
            [ngClass]="{
              'btn-comum-laranja': relatorio.taxaServico === false,
              'btn-borda-laranja': relatorio.taxaServico !== false
            }"
            (click)="relatorio.taxaServico = false"
            [disabled]="!relatorio.tipoConsulta"
          >
            NÃO
          </button>
          <button
            type="button"
            class="btn btn-borda-laranja p-2"
            [ngClass]="{
              'btn-comum-laranja': relatorio.taxaServico === null,
              'btn-borda-laranja': relatorio.taxaServico !== null
            }"
            (click)="relatorio.taxaServico = null"
            [disabled]="!relatorio.tipoConsulta"
          >
            TODOS
          </button>
        </div>
      </div>
      <div class="d-flex flex-column w-20">
        <label>Funcionário</label>
        <select
          class="select-filtro p-1"
          [(ngModel)]="relatorio.funcionarioId"
          [disabled]="!relatorio.tipoConsulta"
        >
          <option [ngValue]="null">Todos</option>
          @for (funcionario of funcionarios; track funcionario.id) {
          <option [value]="funcionario.id">{{ funcionario.nome }}</option>
          }
        </select>
      </div>
      <div class="d-flex flex-column w-20">
        <label>Cliente</label>
        <select
          class="select-filtro p-1"
          [(ngModel)]="relatorio.clienteId"
          [disabled]="!relatorio.tipoConsulta"
        >
          <option [ngValue]="null">Todos</option>
          @for (cliente of clientes; track cliente.id) {
          <option [value]="cliente.id">{{ cliente.nome }}</option>
          }
        </select>
      </div>
      <div class="d-flex flex-column w-20">
        <label>Ordenar Por</label>
        <select
          class="select-filtro p-1"
          [(ngModel)]="relatorio.ordenacao"
          [disabled]="!relatorio.tipoConsulta"
        >
          <option [ngValue]="null">Selecione</option>

          <option value="valorTotalDesc">Valor Total (maior → menor)</option>
          <option value="valorTotalAsc">Valor Total (menor → maior)</option>

          <option value="valorBrutoDesc">Valor Bruto (maior → menor)</option>
          <option value="valorBrutoAsc">Valor Bruto (menor → maior)</option>

          <option value="descontoDesc">Desconto (maior → menor)</option>
          <option value="descontoAsc">Desconto (menor → maior)</option>

          <option value="valorServicoDesc">Taxa Serviço (maior → menor)</option>
          <option value="valorServicoAsc">Taxa Serviço (menor → maior)</option>

          <option value="taxaEntregaDesc">Taxa Entrega (maior → menor)</option>
          <option value="taxaEntregaAsc">Taxa Entrega (menor → maior)</option>

          <option value="funcionarioAsc">Funcionário (A-Z)</option>
          <option value="funcionarioDesc">Funcionário (Z-A)</option>

          <option value="dataDesc">Data (mais recente)</option>
          <option value="dataAsc">Data (mais antiga)</option>
        </select>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <button class="btn-comum btn-comum-laranja" (click)="aplicarRelatorio()">
        Aplicar
      </button>
    </div>
    <div class="lista">
      <table class="table">
        <thead>
          <tr>
            <th class="text-center col-1">#</th>
            <th class="text-center col-1">ID</th>
            <th class="text-center col-2">Funcionário</th>
            <th class="text-center col-1">Venda</th>
            <th class="text-center col-1">Bruto</th>
            <th class="text-center col-1">Desconto</th>
            <th class="text-center col-1">Serviço</th>
            <th class="text-center col-1">Entrega</th>
            <th class="text-center col-1">Total</th>
            <th class="text-center col-2">Pagamento</th>
            <th class="text-center col-2">Data/Hora</th>
          </tr>
        </thead>
        <tbody>
          @for (venda of listaVendas; track $index) {
          <tr>
            <td class="text-center">{{ $index + 1 + page * size }}</td>
            <td class="text-center">{{ venda.id }}</td>
            <td class="text-center">{{ venda.funcionario.nome || "-" }}</td>
            <td class="text-center">
              {{
                venda.mesa != null
                  ? " Mesa"
                  : venda.retirada
                  ? " Retirada"
                  : venda.entrega
                  ? " Entrega"
                  : venda.balcao
                  ? " Balcão"
                  : ""
              }}
            </td>
            <td class="text-center">
              {{ venda.valorBruto | currency : "BRL" }}
            </td>
            <td class="text-center">{{ venda.desconto | currency : "BRL" }}</td>
            <td class="text-center">
              {{ venda.valorServico | currency : "BRL" }}
            </td>
            <td class="text-center">
              {{ venda.taxaEntrega | currency : "BRL" }}
            </td>
            <td class="text-center">
              {{ venda.valorTotal | currency : "BRL" }}
            </td>
            @if (venda.vendaPagamento) {
            <td class="text-center">
              @if (venda.vendaPagamento.dinheiro > 0) {
              <span>
                Dinheiro
                {{ venda.vendaPagamento.dinheiro || 0 | currency : "BRL" }}
              </span>
              } @if (venda.vendaPagamento.credito > 0) {
              <span>
                Crédito
                {{ venda.vendaPagamento.credito || 0 | currency : "BRL" }}</span
              >
              } @if (venda.vendaPagamento.debito > 0) {
              <span>
                Débito
                {{ venda.vendaPagamento.debito || 0 | currency : "BRL" }}</span
              >
              } @if (venda.vendaPagamento.pix > 0) {
              <span>
                PIX {{ venda.vendaPagamento.pix || 0 | currency : "BRL" }}</span
              >
              }
            </td>
            } @else { &nbsp; }
            <td class="text-center">
              {{ venda.dataVenda | date : "dd/MM/yyyy HH:mm:ss" }}
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
    <div class="d-flex justify-content-between align-items-center">
      <div></div>
      <div class="d-flex align-items-center justify-content-center">
        <div class="paginacao-container mt-2">
          <button
            class="paginacao-botao"
            [ngClass]="{
              none: page === 0
            }"
            (click)="setPage(page - 1)"
          >
            <i class="bi bi-chevron-left"></i>
          </button>

          @for (i of pagesVisiveis(); track i) {
          <button
            class="paginacao-botao"
            [class.ativo]="i === page"
            [disabled]="i === page"
            (click)="setPage(i)"
          >
            {{ i + 1 }}
          </button>
          }

          <button
            class="paginacao-botao"
            [ngClass]="{
              none: page + 1 >= totalPages
            }"
            (click)="setPage(page + 1)"
          >
            <i class="bi bi-chevron-right"></i>
          </button>
        </div>
      </div>
      <div>
        <div class="d-flex align-items-center tamanho-select">
          <div class="d-flex flex-column w-100">
            <label>Itens por página</label>
            <select class="select-filtro p-1" (change)="alterarTamanho($event)">
              <option [value]="20">20</option>
              <option [value]="50">50</option>
              <option [value]="100">100</option>
              <option [value]="100">200</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #modalDeletarRelatorio let-modal>
  <div class="modal-header modal-style">
    <h4 class="modal-title">{{ tituloModal }}</h4>
  </div>
  <div class="modal-body modal-style">
    <h5>Tem certeza que deseja deletar?</h5>
  </div>
  <div class="modal-footer modal-style justify-content-center">
    <button
      type="button"
      class="btn-comum btn-comum-vermelho"
      (click)="confirmarDeletarRelatorio(relatorio)"
    >
      Deletar
    </button>
    <button
      type="button"
      class="btn-comum btn-comum-cinza"
      (click)="modal.close('Close click')"
    >
      Fechar
    </button>
  </div>
</ng-template>
