<form #formulario="ngForm" (ngSubmit)="salvar()">
  <div class="d-flex align-items-center justify-content-between header-fixo">
    <div class="d-flex align-items-center">
      <h2 class="titulo m-0">Entrega</h2>
    </div>
    <div class="d-flex align-items-center">
      <button
        type="submit"
        class="btn-comum btn-comum-laranja"
        [disabled]="!isModified()"
      >
        Salvar
      </button>
    </div>
  </div>
  <div class="d-flex flex-column h-100 col-12 gap-2 p-2">
    <div class="d-flex align-items-center gap-3">
      <h5 class="p-0 m-0">Calcular por:</h5>
      <label class="radio-personalizado m-0">
        <input
          type="radio"
          id="kiloMetragem"
          name="tipo"
          [(ngModel)]="confEntrega.calcular"
          [value]="0"
        />
        <span class="bolinha"></span>
        <span>KiloMetragem</span>
      </label>
      <!-- <label class="radio-personalizado">
          <input
            type="radio"
            id="bairro"
            name="tipo"
            [(ngModel)]="matriz.calcular"
            [value]="1"
          />
          <span class="bolinha"></span>
          <span>Bairro</span>
        </label> -->
    </div>

    <div class="d-flex flex-column h-100 col-12 px-2">
      <div class="d-flex col-12 gap-3 mb-2">
        <div class="w-100 text-center"><strong>Distância</strong></div>
        <div class="w-100 text-center"><strong>Valor da taxa</strong></div>
        <div class="w-100 text-center"><strong>Previsão do tempo</strong></div>
        <div class="w-auto"></div>
      </div>
      @for (item of listaKm; track $index) {
      <div class="d-flex align-items-center w-100 gap-3 mb-2">
        <div class="w-100 d-flex align-items-center">
          <input
            type="number"
            inputmode="numeric"
            min="0"
            step="1"
            onkeydown="return !['e', 'E', '-', '+' , ','].includes(event.key)"
            oninput="if (this.value.length > 10) this.value = this.value.slice(0, 10)"
            [(ngModel)]="item.km"
            name="km{{ $index }}"
            class="form-control"
            min="0"
          />
          <span class="span-input">KM</span>
        </div>

        <div class="w-100 d-flex align-items-center">
          <input
            type="number"
            inputmode="numeric"
            min="0"
            step="1"
            onkeydown="return !['e', 'E', '-', '+' , ','].includes(event.key)"
            oninput="if (this.value.length > 10) this.value = this.value.slice(0, 10)"
            [(ngModel)]="item.valor"
            name="valor{{ $index }}"
            class="form-control"
            min="0"
          />
          <span class="span-input">R$</span>
        </div>

        <div class="w-100 d-flex align-items-center">
          <input
            type="number"
            inputmode="numeric"
            min="0"
            step="1"
            onkeydown="return !['e', 'E', '-', '+' , ',', '.'].includes(event.key)"
            oninput="if (this.value.length > 10) this.value = this.value.slice(0, 10)"
            [(ngModel)]="item.tempo"
            name="tempo{{ $index }}"
            class="form-control"
            min="0"
          />
          <span class="span-input">MIN</span>
        </div>

        <div class="d-flex align-items-center gap-1">
          @if ($index === 0) {
          <button
            class="btn btn-success"
            type="button"
            (click)="adicionarCampo()"
          >
            +
          </button>
          } @if ($index !== 0) {
          <button
            class="btn btn-danger"
            type="button"
            (click)="removerCampo($index)"
          >
            −
          </button>
          }
        </div>
      </div>
      }
    </div>
  </div>
</form>

<ng-template #modalCancelar let-modal>
  <div class="modal-body">
    Você tem alterações não salvas. Deseja sair mesmo assim?
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" (click)="modal.close('confirmado')">
      Sair sem salvar
    </button>
    <button class="btn btn-secondary" (click)="modal.dismiss()">
      Cancelar
    </button>
  </div>
</ng-template>
