label,
h5,
strong, p {
    color: var(--cor-white) !important;
}

.span-input{
    padding: var(--sp-input-vertical-menor) var(--sp-input-horizontal-menor);
    font-size: var(--fs-input);
    background-color: var(--cor-cinza-fundo) !important;
    color: var(--cor-laranja);
    border: 1px solid var(--cor-laranja);
    border-left: none;
    border-radius: 0.5rem;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

.form-control {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-right: none;
}