label,
h5,
strong, p {
    color: var(--cor-white) !important;
}
.header-fixo {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--cor-cinza-escuro);
    padding: 1rem;
    border-bottom: 1px solid var(--cor-laranja);
}