<div class="h-100 d-flex w-100">
  <div class="d-flex flex-column menu-container" [class.expanded]="menuAberto">
    @if (!menuAberto) {
    <div
      class="d-flex flex-column align-items-center justify-content-between text-center h-100 w-100"
    >
      <div>
        <button class="abrir-menu w-100" (click)="menuAberto = true">☰</button>
        <h2 class="titulo-vertical">Configurações</h2>
      </div>
      <button
        type="button"
        name="sair"
        class="botao_voltar mb-2"
        routerLink="/home"
      >
        <i class="bi bi-arrow-left"></i>
      </button>
    </div>
    }@if (menuAberto) {
    <div class="d-flex flex-column gap-3 col-12 h-100">
      <div class="d-flex align-items-center justify-content-between gap-3 p-2">
        <h2 class="titulo m-0">Configurações</h2>
        <button class="fechar-menu" (click)="menuAberto = false">✕</button>
      </div>
      <div class="d-flex justify-content-between flex-column h-100">
        <div class="d-flex flex-column gap-3 w-100">
          <button
            type="button"
            [class.active]="router.url === '/perfil'"
            class="w-100 text-start d-flex align-items-center botao"
            routerLink="/config/perfil"
          >
            <h4 class="texto-balcao m-0 p-2">Perfil</h4>
          </button>
          <button
            type="button"
            [class.active]="router.url === '/entrega'"
            class="w-100 text-start d-flex align-items-center botao"
            routerLink="/config/entrega"
          >
            <h4 class="texto-balcao m-0 p-2">Entrega</h4>
          </button>
          <button
            type="button"
            [class.active]="router.url === '/retirada'"
            class="w-100 text-start d-flex align-items-center botao"
            routerLink="/config/retirada"
          >
            <h4 class="texto-balcao m-0 p-2">Retirada</h4>
          </button>
          <button
            type="button"
            [class.active]="router.url === '/impressao'"
            class="w-100 text-start d-flex align-items-center botao"
            routerLink="/config/impressao"
          >
            <h4 class="texto-balcao m-0 p-2">Impressão</h4>
          </button>

          <button
            type="button"
            [class.active]="router.url === '/taxa'"
            class="w-100 text-start d-flex align-items-center botao"
            routerLink="/config/taxa"
          >
            <h4 class="texto-balcao m-0 p-2">Taxa de Serviço</h4>
          </button>

          <button
            id="zerarCupons"
            type="button"
            class="w-100 text-start d-flex align-items-center botao"
            (click)="zerarCupons()"
          >
            <h4 class="texto-balcao m-0 p-2">Zerar Cupons</h4>
          </button>
        </div>
        <div class="w-100 mb-3">
          <button
            type="button"
            class="w-100 text-start d-flex align-items-center botao"
            routerLink="/home"
          >
            <i class="bi bi-arrow-lefticon-img"></i>
            <span class="texto-balcao">Sair</span>
          </button>
        </div>
      </div>
    </div>

    }
  </div>
  <div class="content-container">
    <router-outlet class="h-100 w-100"></router-outlet>
  </div>
</div>
