<div class="h-100 d-flex w-100">
  <div
    class="d-flex flex-column menuVendas menu-container"
    [class.expanded]="menuAberto"
  >
    @if (!menuAberto) {
    <div
      class="d-flex flex-column align-items-center justify-content-between text-center h-100 w-100"
    >
      <div>
        <button class="abrir-menu w-100" (click)="menuAberto = true">☰</button>
        <h2 class="titulo-vertical">Histórico Vendas</h2>
      </div>
      @if (!modoModal) {
      <button
        type="button"
        name="sair"
        class="botao_voltar mb-2"
        routerLink="/historicos"
      >
        <i class="bi bi-arrow-left"></i>
      </button>
      }
    </div>
    } @if (menuAberto) {
    <div class="d-flex flex-column p-2 pm-0 col-12">
      <div class="d-flex align-items-center justify-content-between mb-3 gap-2">
        <div class="d-flex align-items-center">
          @if (!modoModal) {
          <button
            type="button"
            name="sair"
            class="botao_voltar me-2"
            routerLink="/historicos"
          >
            <i class="bi bi-arrow-left"></i>
          </button>
          }
          <h2 class="titulo m-0">Histórico Vendas</h2>
        </div>
        <button class="fechar-menu" (click)="menuAberto = false">✕</button>
      </div>
      <div
        class="col-lg-12 d-flex align-items-center gap-3 pb-2 w-100 flex-column"
      >
        <div class="d-flex flex-column w-100">
          <label for="cupom">Cupom</label>
          <div class="filtro-pesquisa">
            <input
              id="cupom"
              autocomplete="off"
              type="number"
              inputmode="numeric"
              min="0"
              step="1"
              oninput="if (this.value.length > 10) this.value = this.value.slice(0, 10)"
              onkeydown="return !['e', 'E', '-', '+' , ',' , '.'].includes(event.key)"
              name="cupom"
              placeholder="CUPOM"
              [(ngModel)]="termoPesquisa"
              (keydown.enter)="pesquisarCupom(termoPesquisa)"
              class="form-control"
            />
            <button
              type="button"
              class="botao_cep"
              (click)="pesquisarCupom(termoPesquisa)"
            >
              <img src="../../../../assets/images/search.svg" class="busca" />
            </button>
          </div>
        </div>
        <div class="d-flex flex-column w-100">
          <label for="filtro">Tipo</label>
          <select
            id="filtro"
            class="select-filtro p-1"
            name="filtro"
            [(ngModel)]="filtroTipo"
            (change)="filtrarPorTipo()"
          >
            <option [ngValue]="undefined">Todos</option>
            <option value="mesa">Mesa</option>
            <option value="retirada">Retirada</option>
            <option value="entrega">Entrega</option>
            <option value="balcao">Balcão</option>
          </select>
        </div>
      </div>
    </div>
    <div class="d-flex flex-column lista-btns">
      @for (cupom of listaCuponsFiltrada; track $index) {
      <button
        type="button"
        name="{{ cupom.id }}"
        (click)="selecionarCupom(cupom)"
        class="btn-lista d-flex align-items-center text-start px-3 py-2 m-1"
        [ngClass]="{ 'btn-lista-active': active == cupom }"
      >
        <span class="text-start" style="width: 150px">
          <strong>Cupom</strong> {{ cupom.cupom }}
        </span>

        <span class="text-start flex-grow-1 ps-3">
          <strong>Venda</strong>
          {{
            cupom.venda.mesa != null
              ? " Mesa"
              : cupom.venda.retirada
              ? " Retirada"
              : cupom.venda.entrega
              ? " Entrega"
              : cupom.venda.balcao
              ? " Balcão"
              : ""
          }}
        </span>
      </button>
      }
    </div>
    }
  </div>
  <div class="h-100 p-3 w-100 content-container">
    @if (cupomSelecionado && cupomSelecionado.venda) {
    <div class="d-flex flex-column h-100 w-100">
      <div class="d-flex flex-column">
        <h4>Detalhes do Cupom {{ cupomSelecionado.cupom }}</h4>
        <h4>
          Venda
          {{
            cupomSelecionado.venda.mesa != null
              ? " Mesa"
              : cupomSelecionado.venda.retirada
              ? " Retirada"
              : cupomSelecionado.venda.entrega
              ? " Entrega"
              : cupomSelecionado.venda.balcao
              ? " Balcão"
              : ""
          }}
          {{ cupomSelecionado.venda.mesa }}
        </h4>
        <p>
          <strong>Data e Hora criar:</strong>
          {{
            cupomSelecionado.venda.dataVenda | date : "dd/MM/yyyy HH:mm:ss a"
          }}
        </p>
        <p>
          <strong>Data e Hora última edição:</strong>
          {{
            cupomSelecionado.venda.dataEdicao | date : "dd/MM/yyyy HH:mm:ss a"
          }}
        </p>
        @if (cupomSelecionado.venda.deletado == true) {
        <h5 class="m-0"><strong class="text-danger">Venda Deletada</strong></h5>
        <strong class="text-danger"
          >Motivo Deletar:
          <span>{{ cupomSelecionado.venda.motivoDeletar }}</span></strong
        >
        }
      </div>
      <div class="lista w-100 h-100">
        <table class="table">
          <thead>
            <th class="text-center col-1">Código</th>
            <th class="text-center col-1">N. item</th>
            <th class="text-start col-2">Nome</th>
            <th class="text-center col-1">Valor</th>
            <th class="text-center col-1">Quantidade</th>
            <th class="text-center col-1">Valor Total</th>
            <th class="text-start col-2">Observação</th>
            <th class="text-center col-1">Operador</th>
            <th class="text-center col-1">Hora</th>
            <th class="text-center col-1">Status</th>
          </thead>
          <tbody>
            @for (produtoVenda of cupomSelecionado.venda.produtoVendas; track
            $index) {
            <tr>
              <td class="text-center">
                {{ produtoVenda.produto.codigo }}
              </td>
              <td class="text-center">{{ $index + 1 + "." }}</td>
              <td class="text-start">{{ produtoVenda.produto.nome }}</td>
              <td class="text-center">R${{ produtoVenda.produto.valor }}</td>
              <td class="text-center">{{ produtoVenda.quantidade }}</td>
              <td class="text-center">R${{ produtoVenda.valor }}</td>
              <td class="text-wrap" style="white-space: normal">
                {{ getObservacoesFormatadas(produtoVenda) }}
              </td>
              <td class="text-center">
                {{ produtoVenda?.funcionario?.nome }}
              </td>
              <td class="text-center">
                {{ produtoVenda?.data | date : "HH:mm" }}
              </td>
              <td class="text-center">
                <span
                  [ngClass]="{
                    'text-danger': !produtoVenda.ativo,
                    'text-success': produtoVenda.ativo
                  }"
                >
                  {{ produtoVenda.ativo ? "OK" : "Removido" }}
                </span>
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>
      <div class="mt-2 d-flex flex-column gap-2">
        <strong>SubTotal: <span>{{ cupomSelecionado.venda.valorBruto || 0 }}</span></strong>
        @if (cupomSelecionado.venda.entrega) {
          <strong>Taxa Entrega: <span>{{ cupomSelecionado.venda.taxaEntrega || 0 }}</span></strong>
        }
        <strong>Serviço: <span>{{ cupomSelecionado.venda.valorServico || 0 }}</span></strong>
        <strong>Desconto: <span>{{ cupomSelecionado.venda.desconto || 0 }}</span>, Motivo: <span>{{ cupomSelecionado.venda.motivoDesconto || '' }}</span></strong>
        <strong>Valor Total: <span>{{ cupomSelecionado.venda.valorTotal || 0 }}</span></strong>
      </div>
      <div class="d-flex justify-content-between align-items-center w-100 mt-2">
        <div class="col-acoes">
          @if ((usuario && usuario.permissao && (usuario.permissao.imprimir &&
          urlString === 'caixa')) && matriz.configuracaoImpressao.usarImpressora
          && cupomSelecionado.venda.deletado == false) {
          <button
            type="button"
            class="hover-btn btn-imprimir"
            (click)="
              abrirModalImpressao(cupomSelecionado.venda, modalImpressao)
            "
          >
            <img
              class="icon-impressora"
              src="../../../../assets/images/impressora.svg"
              alt="Imprimir"
            />
            <span class="hover-text">Imprimir</span>
          </button>
          } @if (modoModal) { @if ((usuario && usuario.permissao &&
          usuario.permissao.deletarVenda) && cupomSelecionado.venda.deletado ==
          false && urlString === 'caixa') {
          <button
            type="button"
            class="btn-comum btn-comum-vermelho"
            (click)="deletarVenda(cupomSelecionado.venda, modalDeletarVenda)"
          >
            Deletar
          </button>
          } } @else { @if ((usuario && usuario.permissao &&
          usuario.permissao.deletarVenda) && cupomSelecionado.venda.deletado ==
          false) {
          <button
            type="button"
            class="btn-comum btn-comum-vermelho"
            (click)="deletarVenda(cupomSelecionado.venda, modalDeletarVenda)"
          >
            Deletar
          </button>
          } }
        </div>
      </div>
    </div>
    }
  </div>
</div>

<ng-template #modalDeletarVenda let-modal>
  <div class="modal-header modal-style">
    <h4 class="modal-title">{{ tituloModal }}</h4>
  </div>
  <div class="w-100 modal-body modal-style">
    <h5>Você tem certeza que deseja deletar a venda?</h5>
    <label for="motivo" class="form-label mt-2">Motivo</label>
    <textarea
      autocomplete="off"
      #motivo="ngModel"
      required
      type="text"
      class="form-control"
      name="motivo"
      [(ngModel)]="motivoDeletar"
      [ngClass]="{
        'borda-vermelha':
          motivoDeletar == null && !motivo.valid && motivo.touched
      }"
    ></textarea>
  </div>
  <div class="modal-footer modal-style justify-content-center">
    <button
      type="button"
      class="btn-comum btn-comum-vermelho"
      (click)="confirmarDeletarVenda()"
    >
      Delatar
    </button>
    <button
      type="button"
      class="btn-comum btn-comum-cinza"
      (click)="modal.close('Close click')"
    >
      Fechar
    </button>
  </div>
</ng-template>
<ng-template #modalImpressao let-modal>
  <div class="modal-header modal-style">
    <h4 class="modal-title">{{ tituloModal }}</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Close click')"
    ></button>
  </div>
  <div class="modal-body modal-style">
    <div class="d-flex flex-column w-100 gap-3">
      <button
        type="button"
        class="botao-imprimir"
        (click)="imprimirComprovante()"
      >
        Imprimir Comprovante de recebemento
      </button>
      <button
        type="button"
        class="botao-imprimir"
        (click)="imprimirNotaFiscal()"
      >
        Imprimir Nota Fiscal
      </button>
    </div>
  </div>
</ng-template>
