<form (ngSubmit)="salvar()" class="mb-3">
  <div class="d-flex justify-content-between col-12">
    <div class="mb-3 col-6">
      <label for="nome" class="form-label">Nome</label>
      <input
        autocomplete="off"
        type="text"
        class="form-control"
        name="nome"
        id="nome"
        [(ngModel)]="adminFuncionario.nome"
        required
        #nome="ngModel"
        [ngClass]="{ 'borda-vermelha': !nome.valid && nome.touched }"
      />
    </div>
    <div class="mb-3">
      <label for="userName" class="form-label">Username</label>
      <input
        autocomplete="off"
        type="text"
        class="form-control"
        name="userName"
        [(ngModel)]="adminFuncionario.username"
        id="userName"
        required
        #userName="ngModel"
        [ngClass]="{ 'borda-vermelha': !userName.valid && userName.touched }"
      />
    </div>
  </div>
  <div class="d-flex justify-content-between">
    <div class="mb-3">
      <label for="senha" class="form-label">Password</label>
      <input
        autocomplete="off"
        type="text"
        class="form-control"
        name="senha"
        [(ngModel)]="adminFuncionario.password"
        id="senha"
        required
        #senha="ngModel"
        [ngClass]="{ 'borda-vermelha': !senha.valid && senha.touched }"
      />
      <ul class="mt-2 regras-senha">
        <li [ngClass]="{ ok: temMaiuscula(), nok: !temMaiuscula() }">
          1 letra maiúscula
        </li>
        <li [ngClass]="{ ok: temMinuscula(), nok: !temMinuscula() }">
          1 letra minúscula
        </li>
        <li [ngClass]="{ ok: temNumero(), nok: !temNumero() }">1 número</li>
        <li [ngClass]="{ ok: temEspecial(), nok: !temEspecial() }">
          1 caractere especial
        </li>
        <li [ngClass]="{ ok: temTamanho(), nok: !temTamanho() }">
          Mínimo de 8 caracteres
        </li>
        <li [ngClass]="{ ok: !temEspaco(), nok: temEspaco() }">Sem espaços</li>
      </ul>
    </div>
  </div>
  <div class="mt-2 d-flex flex-column">
    <div class="mb-3">
      <label for="permissoes" class="form-label">Permissões:</label>
      @if (adminFuncionario.permissao == null) {
      <p
        class="alert alert-danger d-flex justify-content-between align-items-center"
      >
        Permissão não vinculado!
        <button
          type="button"
          (click)="buscar(modalListarPermissaos)"
          class="btn btn-danger"
        >
          Buscar
        </button>
      </p>
      } @if (adminFuncionario.permissao != null) {
      <p
        class="alert alert-success d-flex justify-content-between align-items-center"
      >
        {{ adminFuncionario.permissao.nome }}
        <button
          type="button"
          (click)="buscar(modalListarPermissaos)"
          class="btn btn-secondary"
        >
          Trocar
        </button>
      </p>
      }
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <button type="submit" class="btn-comum btn-comum-laranja">Salvar</button>
  </div>
</form>

<ng-template #modalListarPermissaos let-modal>
  <div class="modal-header cabecalhoModal">
    <h4 class="modal-title">{{ tituloModal }}</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <app-permissao-lista
      (retornoPermissao)="retornoPermissao($event)"
    ></app-permissao-lista>
  </div>
  <div class="modal-footer footerModal">
    <button
      type="button"
      class="btn-comum btn-comum-cinza"
      (click)="modal.close('Close click')"
    >
      Voltar
    </button>
  </div>
</ng-template>
