@media (max-width: 1024px) {
    .area-pesquisa {
        flex-wrap: wrap;

        .div6 {
            width: 20% !important;
        }
    }
}

@media (max-width: 768px) {
    .area-pesquisa {
        flex-wrap: wrap;

        div {
            width: 100% !important;
        }

        .div6 {
            width: 100% !important;
        }
    }
}

@media (max-width: 480px) {
    .area-pesquisa {
        flex-wrap: wrap;

        div {
            width: 100% !important;
        }
    }
}