.ativo {
    color: var(--cor-white);
    background-color: var(--cor-laranja);
}

.obs-container {
    max-width: 100%;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 5px;
    padding: 5px;
}

.obs-scroll {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.obs-container::-webkit-scrollbar {
    width: 6px;
}

.obs-container::-webkit-scrollbar-track {
    background: var(--cor-cinza-fundo);
    border-radius: 10px;
}

.obs-container::-webkit-scrollbar-thumb {
    background: var(--cor-laranja);
    border-radius: 10px;
    cursor: pointer;
}

.obs-container::-webkit-scrollbar-thumb:hover {
    background: var(--cor-cinza-escuro);
    cursor: pointer;
}