label,
h5,
h4 {
    color: var(--cor-white) !important;
}

.largura {
    width: 20vw !important;
}

.usar {
    background-color: var(--cor-laranja);
    border: 0px;
    padding: 5px 15px;
    border-radius: 10px;
    color: var(--cor-white);
    &:hover{
        background-color: var(--cor-laranja-hover);
    }
}

.em_uso {
    background-color: var(--cor-cinza-hover);
    padding: 5px;
    border-radius: 10px;
}