span {
    font-size: var(--fs-input) !important;
}

label,
.table.w-100 {
    td {
        font-size: var(--fs-h1) !important;
        color: var(--cor-white);
    }

    font-size: var(--fs-h1) !important;
    color: var(--cor-white);
}

.d-flex.align-items-center {
    display: flex;
    align-items: center;
    gap: 10px;
}

@media (max-width: 768px) {

    label,
    p {
        font-size: 20px !important;
    }
}