@if(!telaPequena){
<form (ngSubmit)="salvar()" class="d-flex flex-column h-100 w-100 p-2">
  <div class="d-flex justify-content-between w-100 flex-grow-1">
    <div class="d-flex flex-column col-6">
      @for (item of dinheiroLista; track $index) {
      <div class="d-flex align-items-center justify-content-between p-2 w-100">
        <div
          class="d-flex align-items-center justify-content-start gap-2 w-100"
        >
          <label style="width: 150px">Dinheiro</label>
          <input
            autocomplete="off"
            type="number"
            #dinheiroInput
            (keydown)="navegarInputs($event, 'dinheiro', $index)"
            inputmode="numeric"
            min="0"
            step="0.01"
            [(ngModel)]="dinheiroLista[$index]"
            name="dinheiro{{ $index }}"
            [attr.name]="'dinheiro' + $index"
            class="form-control w-50"
          />
          @if ($index === 0) {
          <button
            type="button"
            class="botao-mais"
            (click)="adicionarCampo('dinheiro')"
          >
            +
          </button>
          }
        </div>
      </div>
      } @for (item of creditoLista; track $index) {
      <div class="d-flex align-items-center justify-content-between p-2 w-100">
        <div class="d-flex align-items-center gap-2 w-100">
          <label style="width: 150px">Credito</label>
          <input
            autocomplete="off"
            #creditoInput
            type="number"
            (keydown)="navegarInputs($event, 'credito', $index)"
            inputmode="numeric"
            min="0"
            step="0.01"
            [(ngModel)]="creditoLista[$index]"
            name="credito{{ $index }}"
            [attr.name]="'credito' + $index"
            class="form-control w-50"
          />
          @if ($index === 0) {
          <button
            type="button"
            class="botao-mais"
            (click)="adicionarCampo('credito')"
          >
            +
          </button>
          }
        </div>
      </div>
      } @for (item of debitoLista; track $index) {
      <div class="d-flex align-items-center justify-content-between p-2 w-100">
        <div class="d-flex align-items-center gap-2 w-100">
          <label style="width: 150px">Debito</label>
          <input
            autocomplete="off"
            #debitoInput
            type="number"
            (keydown)="navegarInputs($event, 'debito', $index)"
            inputmode="numeric"
            min="0"
            step="0.01"
            [(ngModel)]="debitoLista[$index]"
            name="debito{{ $index }}"
            [attr.name]="'debito' + $index"
            class="form-control w-50"
          />
          @if ($index === 0) {
          <button
            type="button"
            class="botao-mais"
            (click)="adicionarCampo('debito')"
          >
            +
          </button>
          }
        </div>
      </div>
      } @for (item of pixLista; track $index) {
      <div class="d-flex align-items-center justify-content-between p-2 w-100">
        <div class="d-flex align-items-center gap-2 w-100">
          <label style="width: 150px">Pix</label>
          <input
            autocomplete="off"
            #pixInput
            type="number"
            (keydown)="navegarInputs($event, 'pix', $index)"
            inputmode="numeric"
            min="0"
            step="0.01"
            [(ngModel)]="pixLista[$index]"
            name="pix{{ $index }}"
            [attr.name]="'pix' + $index"
            class="form-control w-50"
          />
          @if ($index === 0) {
          <button
            type="button"
            class="botao-mais"
            (click)="adicionarCampo('pix')"
          >
            +
          </button>
          }
        </div>
      </div>
      }
    </div>
    <div class="d-flex flex-column gap-2 col-4">
      <table class="table w-100">
        <tbody>
          <tr>
            <td class="text-start w-25">Subtotal</td>
            <td class="text-start w-75">
              R$ {{ venda.valorBruto | number : "1.2-2" }}
            </td>
          </tr>
          @if (tipoCaixa === 'mesa') {
          <tr>
            <td class="text-start w-25">Serviço</td>
            <td class="text-start w-75">
              R$ {{ venda.valorServico | number : "1.2-2" }}
            </td>
          </tr>
          }
          @if (tipoCaixa === 'entrega') {
          <tr>
            <td class="text-start w-25">Taxa Entrega</td>
            <td class="text-start w-75">
              R$ {{ venda.taxaEntrega | number : "1.2-2" }}
            </td>
          </tr>
          }
          <tr>
            <td class="text-start w-25">Desconto</td>
            <td class="text-start w-75">
              R$ {{ venda.desconto || 0 | number : "1.2-2" }}
            </td>
          </tr>
          <tr>
            <td class="text-start w-25">Total</td>
            <td class="text-start w-75">
              R$ {{ venda.valorTotal | number : "1.2-2" }}
            </td>
          </tr>
          <tr>
            <td class="text-start w-25">{{ tipoTrocoOuDiferenca }}</td>
            <td class="text-start w-75">R$ {{ valorTrocoOuDiferenca }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</form>
} @if (telaPequena) {
<form (ngSubmit)="salvar()" class="d-flex flex-column h-100">
  <div class="d-flex flex-column col-12 flex-grow-1 w-100">
    <div class="d-flex flex-column gap-2 p-2 w-100">
      <table class="table w-100">
        <tbody>
          <tr>
            @if (tipoCaixa === 'mesa') {
            <td class="text-start w-25">Serviço</td>
            <td class="text-start w-25">
              R$ {{ venda.valorServico | number : "1.2-2" }}
            </td>
            }
            <td class="text-start w-25">Desconto</td>
            <td class="text-start w-25">
              R$ {{ venda.desconto || 0 | number : "1.2-2" }}
            </td>
          </tr>
          <tr>
            <td class="text-start w-25">Subtotal</td>
            <td class="text-start w-25">
              R$ {{ venda.valorBruto | number : "1.2-2" }}
            </td>
            <td class="text-start w-25">Total</td>
            <td class="text-start w-25">
              R$ {{ venda.valorTotal | number : "1.2-2" }}
            </td>
          </tr>
          <tr>
            <td class="text-start w-25">{{ tipoTrocoOuDiferenca }}</td>
            <td class="text-start w-25">R$ {{ valorTrocoOuDiferenca }}</td>
            <td class="text-start w-25"></td>
            <td class="text-start w-25"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="d-flex flex-column">
      @for (item of dinheiroLista; track $index) {
      <div class="d-flex align-items-center justify-content-between p-2 w-100">
        <label>Dinheiro</label>
        <div class="d-flex align-items-center gap-2">
          <input
            autocomplete="off"
            type="number"
            #dinheiroInput
            (keydown)="navegarInputs($event, 'dinheiro', $index)"
            inputmode="numeric"
            min="0"
            step="0.01"
            [(ngModel)]="dinheiroLista[$index]"
            name="dinheiro{{ $index }}"
            [attr.name]="'dinheiro' + $index"
            class="form-control"
          />

          <div>
            @if ($index === 0) {
            <button
              type="button"
              class="botao-mais"
              (click)="adicionarCampo('dinheiro')"
            >
              +
            </button>
            }
          </div>
        </div>
      </div>
      } @for (item of creditoLista; track $index) {
      <div class="d-flex align-items-center justify-content-between p-2 w-100">
        <label>Credito</label>
        <div class="d-flex align-items-center gap-2">
          <input
            autocomplete="off"
            #creditoInput
            type="number"
            (keydown)="navegarInputs($event, 'credito', $index)"
            inputmode="numeric"
            min="0"
            step="0.01"
            [(ngModel)]="creditoLista[$index]"
            name="credito{{ $index }}"
            [attr.name]="'credito' + $index"
            class="form-control"
          />

          <div>
            @if ($index === 0) {
            <button
              type="button"
              class="botao-mais"
              (click)="adicionarCampo('credito')"
            >
              +
            </button>
            }
          </div>
        </div>
      </div>
      } @for (item of debitoLista; track $index) {
      <div class="d-flex align-items-center justify-content-between p-2 w-100">
        <label>Debito</label>
        <div class="d-flex align-items-center gap-2">
          <input
            autocomplete="off"
            #debitoInput
            type="number"
            (keydown)="navegarInputs($event, 'debito', $index)"
            inputmode="numeric"
            min="0"
            step="0.01"
            [(ngModel)]="debitoLista[$index]"
            name="debito{{ $index }}"
            [attr.name]="'debito' + $index"
            class="form-control"
          />

          <div>
            @if ($index === 0) {
            <button
              type="button"
              class="botao-mais"
              (click)="adicionarCampo('debito')"
            >
              +
            </button>
            }
          </div>
        </div>
      </div>
      } @for (item of pixLista; track $index) {
      <div class="d-flex align-items-center justify-content-between p-2 w-100">
        <label>Pix</label>
        <div class="d-flex align-items-center gap-2">
          <input
            autocomplete="off"
            #pixInput
            type="number"
            (keydown)="navegarInputs($event, 'pix', $index)"
            inputmode="numeric"
            min="0"
            step="0.01"
            [(ngModel)]="pixLista[$index]"
            name="pix{{ $index }}"
            [attr.name]="'pix' + $index"
            class="form-control"
          />

          <div>
            @if ($index === 0) {
            <button
              type="button"
              class="botao-mais"
              (click)="adicionarCampo('pix')"
            >
              +
            </button>
            }
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</form>
}

<ng-template #modalSelecionarProdutos let-modal>
  <div class="modal-header modal-style">
    <h4 class="modal-title">{{ tituloModal }}</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="
        modal.dismiss('Cross click'); fecharModalPagamentoERestaurarVenda()
      "
    ></button>
  </div>
  <div class="modal-body modal-style">
    <div class="w-100 h-100 d-flex flex-column">
      <div class="lista">
        <table class="table">
          <thead>
            <th class="text-start col-2">Nome</th>
            <th class="text-center col-1">Valor</th>
            <th class="text-center col-1">Quantidade</th>
            <th class="text-start col-2">Observação</th>
            <th class="text-center col-2">Qtd. Transferir</th>
            <th class="text-center col-1">Selecionar</th>
          </thead>
          <tbody>
            @for (produto of venda.produtoVendas; track $index) {
            <tr>
              <td class="text-start">{{ produto.produto.nome }}</td>
              <td class="text-center">R${{ produto.produto.valor }}</td>
              <td class="text-center">{{ produto.quantidade }}</td>
              <td class="text-wrap" style="white-space: normal">
                {{ getObservacoesFormatadas(produto) }}
              </td>
              <td class="text-center">
                <div class="col-acoes">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-danger"
                    (click)="decrementarQuantidade(produto)"
                    [disabled]="produto.quantidadeTransferir === 0"
                  >
                    -
                  </button>
                  <span>
                    {{ produto.quantidadeTransferir || 0 }}
                  </span>
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-success"
                    (click)="incrementarQuantidade(produto)"
                    [disabled]="
                      produto.quantidadeTransferir === produto.quantidade
                    "
                  >
                    +
                  </button>
                </div>
              </td>

              <td class="text-center">
                <label class="custom-checkbox">
                  <input
                    autocomplete="off"
                    type="checkbox"
                    [(ngModel)]="produto.selecionado"
                    name="produtoSelecionado{{ $index }}"
                    (change)="atualizarQuantidadeTransferir(produto)"
                  />
                  <span class="checkmark"></span>
                </label>
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div
    class="modal-footer d-flex justify-content-center align-items-center border-0"
  >
    <button
      type="button"
      class="btn-comum btn-comum-laranja"
      (click)="salvarProdutosParcial()"
    >
      Salvar
    </button>
  </div>
</ng-template>

<ng-template #modalConfirmarImpressao let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{ tituloModal }}</h4>
  </div>
  <div class="modal-body">
    <h5>{{ modalMessage }}</h5>
  </div>
  <div class="modal-footer d-flex justify-content-start align-items-center">
    <button
      type="button"
      class="botaoModal btn-voltar"
      (click)="modalRef.dismiss()"
    >
      Voltar
    </button>
    <button
      type="button"
      class="botaoModal btn-nao"
      (click)="modalRef.close('naoImprimir')"
    >
      Não
    </button>
    <button
      type="button"
      class="botaoModal btn-imprimir-geral"
      (click)="modalRef.close('imprimir')"
    >
      Sim
    </button>
  </div>
</ng-template>
<ng-template #modalDesconto let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{ tituloModal }}</h4>
  </div>
  <form (ngSubmit)="aplicarOuRemoverDesconto()">
    <div class="modal-body d-flex gap-3">
      <div>
        <span>Valor do desconto (R$)</span>
        <input
          type="number"
          inputmode="numeric"
          min="0"
          step="1"
          oninput="if (this.value.length > 10) this.value = this.value.slice(0, 10)"
          onkeydown="return !['e', 'E', '-', '+' , ','].includes(event.key)"
          [(ngModel)]="descontoValor"
          name="descontoValor"
          min="0"
          class="form-control"
        />
      </div>
      <div>
        <span>Percentual do desconto (%)</span>
        <input
          type="number"
          inputmode="numeric"
          min="0"
          step="1"
          oninput="if (this.value.length > 10) this.value = this.value.slice(0, 10)"
          onkeydown="return !['e', 'E', '-', '+' , ','].includes(event.key)"
          [(ngModel)]="descontoPercentual"
          name="descontoPercentual"
          min="0"
          max="100"
          class="form-control"
        />
      </div>
      <div>
        <span>Motivo:</span>
        <input
          type="text"
          [(ngModel)]="venda.motivoDesconto"
          name="motivoDesconto"
          class="form-control"
        />
      </div>
    </div>
    <div class="modal-footer d-flex justify-content-center align-items-center">
      <button
        type="submit"
        name="aplicar"
        class="botaoModal btn-imprimir-geral"
      >
        Aplicar
      </button>
    </div>
  </form>
</ng-template>
